
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin:20px;
  
}

.bread-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border: 0px solid;
  background-color: rgb(162, 203, 236);

}


.image-view-grid {
  display:flex;
  flex-direction:row;
  height: calc(100vh - 140px);
  width: 100%;
  overflow: auto;
  background-color: rgb(226, 212, 204);
  border: 0px solid;
  
}


.control {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding:5px;
  
}

.label {
  padding:5px;
}

.input {
  padding:5px;
  width:auto; 
}

.input.error {
  border:1px solid red;
}

.select {
  width:auto;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
  width:auto;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


.grid-item img {
  width:200px;
  height: auto;
}

.responsive {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }

  .bread-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    border: 0px solid;
    background-color: rgb(162, 203, 236);
  
  }

  .image-view-grid {
    display:flex;
    flex-direction:row;
    height: calc(100vh - 140px);
    width: 100%;
    overflow: auto;
    background-color: rgb(226, 212, 204);
    border: 0px solid;
    
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }


  .grid-item img {
    width: auto;
    height: 100px;
  }

  .responsive {
    width: auto;
    height: 100px;
    object-fit: cover;
  }
}

